body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 100vw;
}

h1 {
  padding: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#buttons {
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 70px 70px 70px 70px 70px grid-template-rows 65px 40px 40px 40px 40px;
      grid-template-columns: 70px 70px 70px 70px 70px 70px grid-template-rows 65px 40px 40px 40px 40px;
  gap: 16px;
}

#buttons button {
  border: 1px solid transparent;
  border-radius: 5px;
  height: 40px;
  width: 70px;
}

#buttons .formula-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  border: 1px solid grey;
  border-radius: 5px;
  height: 65px;
  width: 500px;
  text-align: right;
  line-height: 65px;
  padding-right: 25px;
}

#buttons .formula-input {
  position: relative;
  height: 40px;
  float: right;
  width: 80%;
  top: 12.5px;
  text-align: right;
}

#buttons #big-operator-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65px;
  width: 50px;
}

#buttons #big-operator-input #active-big-operator {
  position: relative;
  top: 0;
  margin: 0;
  line-height: 25px;
  text-align: center;
  height: 25px;
}

#buttons #big-operator-input .limit-wrapper {
  height: 18px;
  width: 60px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buttons #big-operator-input .limit-wrapper input {
  border: 1px solid grey;
  border-radius: 2.5px;
  height: 10px;
  width: 15px;
  padding: 0 2px;
}

#buttons #big-operator-input .limit-wrapper input:hover {
  cursor: pointer;
}

#buttons #big-operator-input .limit-wrapper label {
  margin-left: 10px;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Quicksand', sans-serif;
}

.delete {
  background-color: #C16C46;
}

.big-operator {
  background-color: #479CB9;
}

#i-btn {
  background-color: #e593db;
}

#equals {
  background-color: #6B9287;
}

* {
  font-size: 20px;
}

h1 {
  font-weight: 200;
  font-size: 40px;
}

.limit-wrapper label, .limit-wrapper input {
  text-align: center;
  font-size: 8px;
}

.formula-wrapper {
  letter-spacing: 0.05em;
  font-size: 30px;
}

.formula-wrapper #active-big-operator {
  font-size: 30px;
  letter-spacing: 0.025em;
}
/*# sourceMappingURL=main.css.map */
.nav{
  list-style:none;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav li a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: rgb(58, 211, 65);
    font-size: 30px;
}