/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container{
  width: 1100px;
  margin: auto;
}
.nav_bar{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.logo i{
  margin-right: 10px;
  color: rgb(228, 151, 8);
  font-size: 1.8rem;
}
.logo h4 a{
  color: #000;
}
/* menu list style */
.menu_list a{
  margin: 1rem;
  font-size: 11px;
  font-weight: 800;
  color: rgb(82, 79, 79);
}
.lg_btn{
  margin-left: 2rem;
  padding: 5px 1rem;
  border-radius: 10px;
  color: #fff;
  background: rgb(228, 151, 8);
  cursor: pointer;
}
.menu_list a:hover{
  color: #000;
}
.overlay{
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home h1{
  font-size: 4rem;
  color: #fff;
  text-transform: capitalize;
}
.home span{
  color: rgb(228, 151, 8);
}
.home_buttons{
  margin-top: 2rem;
}
.home_buttons button{
  padding: 10px 1rem;
  border-radius: 10px;
  margin: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.home_buttons button i{
  margin-right: 10px;
}
.home_buttons .btn1{
  background: rgb(228, 151, 8);
  color: #fff;
}

/* services */
.services{
  background: rgb(223, 223, 223);
  padding: 2rem 1rem;
}
.services .title{
  text-align: center;
}
.title h1{
  font-size: 2rem;
  text-transform: capitalize;
}
.title span{
  color: rgb(228, 151, 8);
}
.title .slogan{
  font-size: 1rem;
  color: gray;
}
.services_boxes{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.box{
  width: 1000px;
  background: #fff;
  padding: 2rem;
  margin: 1rem 2rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 1px 30px 20px rgba(0, 0, 0, 0.1);
}
.box i{
  font-size: 4rem;
  color: rgb(228, 151, 8);
  margin-bottom: 2rem;
}
.box p{
  margin: 20px;
  
}
.box:hover, .br{
  border: 2px solid rgb(228, 151, 8);
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: rgb(255, 72, 0); 
  color: white; 
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px;
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #dbcd08; /* Add a dark-grey background on hover */
}
img{
  margin: 50px;
}