* {
  font-size: 20px;
}

h1 {
  font-weight: 200;
  font-size: 40px;
}

.limit-wrapper {
  label, input {
  text-align: center;
  font-size: 8px;
  }
}

.formula-wrapper {
  letter-spacing: 0.05em;
  font-size: 30px;
  #active-big-operator {
    font-size: 30px;
    letter-spacing: 0.025em;
  }
}
